
@import '~antd/dist/antd.css';

.header {
  background: #fff;
  padding: 0 12px;
  font-size: 16px;
  font-weight: bold;
}

.anticon {
  font-size: 16px;
  margin-left: 8px;
}

#components-layout-demo-side .ant-layout-sider-collapsed .nav-text {
  display: none;
}

#components-layout-demo-side .ant-layout-sider-collapsed .ant-menu-submenu-vertical > .ant-menu-submenu-title:after {
  display: none;
}
